<div class="notification" data-notification-id={{id}} style="background-color: {{color}};">
    <i class="material-icons">{{icon}}</i>
    <h2 class="notification__title">{{title}}</h2>
    <p class="notification__text">{{text}}</p>
    <button name="close"><i class="material-icons">delete_forever</i></button>
</div>